<launch>
<arg name="robot_ip" default="192.168.1.172" />

    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch"> 
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="controllers" value="joint_state_controller joint_group_vel_controller speed_scaling_state_controller force_torque_sensor_controller"/>
        <arg name="stopped_controllers" value="pos_joint_traj_controller scaled_pos_joint_traj_controller" />
    </include>
    <include file="$(find ur5e_moveit_config)/launch/moveit_planning_execution.launch" />
    <include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch" />
    
</launch>
