<launch>

    <arg name="servo_config" default="$(find ur_teleop)/config/spacemouse_servo_config.yaml"/>

    <!-- Add the planning_environment -->
    <node pkg="ur_teleop" type="planning_environment.py" name="planning_environment" output="screen"/>
    
    <!-- Start space mouse driver -->
    <node name="remote_joy_publisher" pkg="ur_teleop" type="teleop_server.py" output="screen"/>
    <node name="spacemouse_controller" pkg="ur_teleop" type="spacemouse_node.py" output="screen" />
    <!-- <node name="spacenav_to_twist" pkg="moveit_servo" type="spacenav_to_twist" output="screen" /> -->
    
    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
        <!-- <remap from="/planning_scene_world" to="/move_group/monitored_planning_scene" /> -->
        <rosparam command="load" file="$(arg servo_config)"/>
    </node>

    <node name="camera_stream_publisher" pkg="ur_teleop" type="camera_server.py" output="screen"/>

    <!-- Launch Zivid Control -->
    <!-- <node name="zivid_camera" pkg="zivid_camera" type="zivid_camera_node" ns="zivid_camera" output="screen">
        <param type="string" name="frame_id" value="wrist_3_link" />
    </node>
    <node name="load_zivid_settings_node" pkg="zivid_camera" type="load_config.py" output="screen">
        <param name="file_path" value="$(find master)/config/camera_config/zivid_3D_capture.yml" />
    </node>

    <node pkg="master" type="depth_processor_zivid" name="depth_processor_zivid_cpp" output="screen">
        <param name="use_voxel_filter" value="true" />
        <param name="use_sor_filter" value="true" />
        <param name="use_passthrough_filter" value="true" />
        <param name="use_sac_registration" value="false" />
    </node> -->

</launch>
